.calendar-main {
    /* width   : 100%;
    overflow-x: scroll;
    overflow-y: hidden; */
	/* height: 95vh; */
}

.calendar-table {
    /* overflow-x: hidden; */
    width          : 100%;
    border-collapse: collapse;
    /* font-size      : 0.9em !important; */
    /* min-width      : 2600px; */
    font-size      : 12px !important;
    /* table-layout   : fixed; */
}
.calendar-table thead {
	/* background-color: var(--color-blue-light); */
}

.react-datepicker-popper {
    z-index: 10005 !important;
}

th,
td,
tr,
.card-body-row {
    padding-left : 4px !important;
    padding-right: 4px !important;
}

.card {
	min-width: 200px;
}

.text-truncate-3 {
    display: -webkit-box;
    -webkit-line-clamp: 3 !important;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.page-item:hover {
    cursor: pointer;
}

/* table thead {
	background: white;
	position: relative;
} */

/* 
th {
	position: relative;
	background: white;
	position  : sticky;
	top       : 0;
	z-index: 40;
	box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
} */

/* table thead tr:nth-child(1) th{
	background-color: white;
	height: 40px;
	top: 0px;
	position: sticky;
	z-index: 10;	
	
} */
table thead tr:nth-child(2) th {
    background-color: white;
    position        : sticky !important;
    top             : 86px !important;
    border-style    : none !important;
    z-index         : 10 !important;

}

table thead tr:nth-child(3) th {
    background-color: white;
    position        : sticky;
    height          : 25px;
    top             : 105px;
    z-index         : 10;

}


table thead tr:nth-child(6) th {
    background-color: white;
    position        : sticky;
    height          : 25px;
    top             : 129px;
    z-index         : 10;
	padding: 0 0.5px !important;
	/* margin: 3px 3px; */
    /* box-shadow      : 0 3px 3px -1px rgba(0, 0, 0, 0.5); */
}


.bg-highlight {
	background-color: burlywood;
  }
 
/* table thead .thead_nav th {
	font-weight: 400;
	font-size: 1.2em;
	text-align: center;
	border-style: none;
}
table thead .thead_nav th ul {
	margin: 0 0;
	margin-top: 5px;
} */


/*HEADER OF THE TALBE DATE AND DAY NAME*/
/*table thead th {
	position: sticky;
	top: 0;
}
*/

td {
    max-width: 5em !important;
}
.table-head-row th {
	min-width: 10vw;
}

.day-info1 {
    background-color: var(--color-green) !important;
    /* border       : 0.02px solid black !important; */

}

.day-info2 {
    background-color: var(--color-green) !important;
    /* border       : 0.02px solid black !important; */
}

.day-info3 {
    background-color: var(--color-blue) !important;
	color: white;
    /* border       : 0.02px solid black !important; */
}

.day-info4 {
    background-color: var(--color-yellow) !important;
	/* color: white; */
    /* border       : 0.02px solid black !important; */
}






/* events */

.calendar-table .card-body:hover {
    /* color: white; */
    background-color: #3CC39A;
    cursor          : pointer;
}


/* date picker */
.react-datepicker-wrapper {
    display: block !important;
}

/* 
table thead .head_day th {
	background-color: #7f7f7f;
	color: white;
	text-align: center;
}
table thead .head_day th div label {
	font-size: 1.0em;
	font-weight: 550;
	margin-bottom: 3px;
	margin-top: 1px;
	margin-right: 5px;
}
table thead .head_day .thead_day_weekend {
	background-color: #ff7f7f;
	color: white;
	text-align: center;
}
table thead .thead_date th {  
	background-color: transparent;
	text-align: center;
	font-weight: 400;
	font-size: 1.3em;
}
table thead .thead_date .thead_date_weekend {
	background-color: transparent;
	text-align: center;
	font-weight: 400;
	font-size: 1.3em;
	color: #ff7f7f;
}
.head_planned_day th {
	background-color: #e9e5dd;
	color: #6d6d6d;
	text-align: center;
}
table thead .head_planned_day th div:hover, table thead .head_planned_day th div label:hover {
	cursor: pointer;
	color: white;
	background-color: dodgerblue;
}
table thead .head_planned_day th div span {
	padding-bottom: 0px;
	padding: 1px 5px;
	font-weight: 900;
	font-size: 0.9em;
} */

/*TIME ON THE LEFT*/
/* table tbody tr .tbody_time_am {
	background-color: #e9e5dd;
	color: #7f7f7f;
	position: sticky;
	left: 0;
	z-index: 9;
	text-align: center;
	font-weight: 400;
	font-size: 1.3em;	

}
table tbody tr .tbody_time_pm {
	background-color: #7f7f7f;
	color: white;
	position: sticky;
	left: 0;
	z-index: 9;
	text-align: center;
	font-weight: 400;
	font-size: 1.3em;	
}
 */


/*TIME SLOTS IN THE CALLENDAR*/
/* table tbody tr td {
	border-right: 0.02px solid #6c6c6c;
	border-left: 0.02px solid #6c6c6c;
}
.calendar-slot {
	border: 0.02px solid #6c6c6c;
	text-align: center;
}
.calendar-slot:hover {
	background-color: dodgerblue;
	cursor: pointer;
}
.calendar-slot-empty {
	opacity: 0;
	border: 0.02px solid #6c6c6c;
	text-align: center;	
	border-style: none;
	border-right: 0.02px solid #6c6c6c;
	border-left: 0.02px solid #6c6c6c;
}
.calendar-slot-empty:hover {
	opacity: 1;
	background-color: dodgerblue;
	cursor: pointer;
	color: white;
}

.calendar-slot-empty-current {
	height: 100%;
	opacity: 0;
}
.calendar-slot-empty-current:hover {
	opacity: 1;
	background-color: dodgerblue;
	cursor: pointer;
	color: white;

} */


/*LOADER STYLE + ANIMATION*/
/* .loader {
	border: 4px solid #f3f3f3;
	border-radius: 50%;
	border-top: 4px solid #3498db;
	width: 40px;
	height: 40px;
	-webkit-animation: spin 2s linear infinite;
	animation: spin 2s linear infinite;
} */


/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}